/* Hero Section ONLY */
.hero-container {
    background: url('https://media.publit.io/file/MaximoTheGreat/m-headshot-1.png') top center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
  }
  
  .hero-container > h1 {
    color: whitesmoke;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: whitesmoke;
    font-size: 32px;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top:-150px
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top:-100px
    }
  
    .hero-container > p {
      font-size:30px;
    }
  
    .btn-mobile {
      display:block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }
  
  @media screen and (max-width:600px) {
    .hero-container > h1 {
      font-size: 35px;
      margin-top:-100px
    }
  
    .hero-container > p {
      font-size:20px;
    }
  }